@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

.date-display-container {
  position: absolute;
  bottom: 2.5em;   
  right: 1em; 
  
  width: 15%;    
  max-width: 500px;
  aspect-ratio: 1 / 1;

  /* This is needed so the day-of-week can be positioned inside it */
  position: relative; 
}

body {
    background-image: url('/p5b.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 

    cursor: url('/cursor.cur'), auto;

    font-family: 'Luckiest Guy', cursive;
}

img{
    user-select: none;
}

.dateControls{
    position: absolute;
    top: 21%;
    left: 4%;
    display: flex;
    justify-content: space-between;
    width: 7%;
}

.aleft, .aright{
    width: 50%;
    height: 40%;
    transition: widht 0.2s ease-in-out;
}

.pfp{
    width: 50%;
}