@font-face {
  font-family: 'PersonaTimes';
  /* The path now starts with "/" to look in the public folder */
  src: url('/Times New Roman Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PersonaBodoni';
  src: url('/bondoni.ttf') format('truetype');
}

@font-face {
  font-family: 'PersonaHelvetica';
  src: url('/helveticanowdisplay-black.ttf') format('truetype');
}

:root {
  font-family: 'PersonaHelvetica';
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
