/* src/components/DayOfWeekDisplay.css */

.day-of-week-container {
  position: absolute;
  z-index: 10;

  /* Better starting values for positioning and size */
  top: 69%;
  left: 72%;
  width: 55%;
  
  transform: translate(-50%, -50%) rotate(-7deg);
  user-select: none;
}

.day-of-week-container img {
  width: 100%;
  display: block; 
}