.strike {
    text-decoration: line-through;
    text-decoration-color: #fc1600;
    text-decoration-style: solid;
    text-decoration-thickness: 0.3em;
}

.taskDisplay {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1em;
    justify-content: space-between;
    border: 0.1em solid #cbd2cd;
    height: 3.5em;
    min-height: 3.5em;
    clip-path: polygon(7% 10%, 100% 0%, 95% 100%, 0% 100%);
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-color: #fc1600;
}

.taskDisplay:hover{
    border: 0.1em solid white;
}

.taskTitle:hover {
    color: black;
    text-shadow:
        -2px -2px 0 white,
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white;
}

.taskTitle {
    user-select: none;
    font-size: 1.9em;
    display: flex;
    align-items: center;
    width: auto;
    max-width: 40%;
    white-space: nowrap;
    margin-left: 0.5em;

    color: white;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(280px, 36%, 600px);

    position: absolute;
    top: 53%;
    left: 56%;
    transform: translate(-50%, -50%); 
}

.listDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    gap: 1em;

    min-height: 14em;
    max-height: 14em;
    overflow-y: auto;
    overflow-x: hidden;
}

.listDisplay {
    /* This hides the scrollbar on Firefox */
    scrollbar-width: none;
    /* This hides the scrollbar on Internet Explorer and Edge */
    -ms-overflow-style: none;
}

/* This hides the scrollbar on Chrome, Safari, and other WebKit browsers */
.listDisplay::-webkit-scrollbar {
    display: none;
}

.inputContainer {
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
    padding-left: 2.5em;
    padding-bottom: 1.5em;
    padding-right: 2.5em;
    gap: 1.2em;
}


.deleteBtn {
    width: 40%;
    filter: invert(0);
    transition: filter 0.2s ease-in-out, width 0.2s ease-in-out;
}

.deleteBtn:hover {
    width: 41%;
    filter: invert(1);
}

.btnHolder {
    display: flex;
    justify-content: end;
    gap: 2em;
    margin-right: 0.5em;
}

.saveBtn {
    width: 15%;
    margin-right: 2em;
    transition: width 0.2s ease-in-out;
}

.taskInput {
    border: none;
    outline: none;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fc1600;
    border-bottom: 2px solid #888;
    font-family: 'Luckiest Guy', cursive;
    /* font-family: 'PersonaHelvetica', sans-serif; */
    font-size: 1.5em;
    padding: 10px;

    transition: border-color 0.3s ease;
}

.taskInput::placeholder {
    color: #aaa;
}

.taskInput:focus {
    border-bottom-color: #fc1600;
}